* {
    margin: 0px;
    /* font-family: sans-serif; */
}

header {

    background-color: blue;
    color: white;
    padding: 10px;
    padding-left: 200px;
}

header span {
    margin-right: 40px;
}

/* COURSE SECTION CSS */
.main-course {
    position: relative;
    display: inline-block;
}

.course-table {

    position: absolute;

    left: -500px;
    /* width: 600px; */
    /* height: 250px; */
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    display: none;
}

.course1 {
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    font-size: 15px;

}

.course1 a {
    display: inline-block;
    margin-bottom: 20px;
    color: blue;
}

.main-course:hover .course-table {
    display: flex;
}

i {
    color: red;
}

.btn1 {
    background-color: red;
    color: white;
    padding: 10px;
    margin-left: 200px;
    outline: none;
    border: none;
}

.btn1:active {
    scale: .9;
    background-color: rgba(255, 0, 0, 0.392);
}

#color {
    color: red;
}

#border {
    border: 2px solid red;
    padding: 5px;
    border-bottom: 0;
}

nav {
    /* margin-left: 100px; */
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

nav a {
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;

}

a:hover {
    color: red;
    text-decoration: underline;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

.bg {
    background-image: url(./images/pic2.jpg);
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.bg::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.493);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.container1 {
    position: absolute;

    color: white;
    font-weight: 900;
    top: 40%;
    left: 10%;
}

/* card section */
.card {
    padding: 40px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: -200px;
    position: relative;
}

.different {
    /* height: 100px; */
    width: 300px;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

.btn2 {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.563);
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    font-size: 15px;
    background-color: rgba(255, 51, 0, 0.762);
}

.btn2:hover {
    color: rgba(255, 255, 255, 0.697);

}

.btn2:active {
    scale: 1.1;
}

.small-card {
    width: 200px;
    color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 6px 9px 4px rgba(128, 128, 128, 0.853);
    text-align: center;
    background-color: white;

}

.color {
    color: white;
}

p {
    color: grey;
}

.fa-file {
    margin: 10px;
    font-size: 30px;
}

.fa-cube {
    margin: 10px;
    font-size: 30px;
}

.fa-images {
    margin: 10px;
    font-size: 30px;
}

/* ABOUT US SECTION CSS */
.bigger {
    display: flex;
    gap: 100px;
    background-color: rgba(255, 192, 203, 0.166);
    padding: 40px 100px;
}

.img {
    height: 500px;
    width: 500px;
}

.edit {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.size {
    font-size: 20px;
}

.icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.icons i {
    padding: 15px;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 35px;
}

.icons p {
    font-size: 20px;
}

.icons:hover i {
    background-color: red;
    color: white;
}

/* SERVICE SECTION CSS */
.service {
    color: rgb(0, 106, 255);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.center {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

/* SCROLL SECTION CSS */
.scroll {
    display: flex;
    gap: 40px;
    width: 100px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.scroll-image {
    filter: grayscale(100%);
    opacity: .5;

}

.scroll-image:hover {
    filter: none;
    opacity: 1;
}

/* gola work CSS */

.gola {
    text-align: center;

}

.dot {
    border: 2px solid grey;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
    width: 4px;
    height: 4px;

}



/* PROCESS SECTION CSS */
.service-bg {
    background-color: rgba(255, 192, 203, 0.166);
    /* height: 120%; */

}

.grid {
    /* border: 10px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.software {
    /* border: 1px solid black; */
    padding: 20px;
    text-align: center;
    background-color: white;
    /* box-shadow: 1px 1px 10px 1px#403d3d; */
    position: relative;

}

.software-head {
    margin-top: 10px;
    font-size: 25px;
    font-family: sans-serif;
    color: #343A40;
    word-spacing: 4px;
}

.software-parah {
    margin-top: 20px;
    font-size: 18px;
    word-spacing: 5px;
    line-height: 1.5;
}

.icon-edit {
    position: absolute;
    top: -30px;
    right: 155px;
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 20px;
    border: 2px solid rgba(255, 0, 0, 0.603);
}

.software:hover i {
    background-color: white;
    color: red;
}

.software-head:hover {
    color: red;
}


/* OUR SECTION CSS */
.our {
    /* height: 1100px; */
    /* background-color: aqua; */
    margin-top: 50px;

}

.our-2 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20PX;
    column-gap: 40px;
    row-gap: 20pX;

}

.our-big {
    background-image: url(./images/our1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
    height: 350px;
    width: 90%;
    margin-left: 10px;
}

.our-small {
    position: absolute;
    background-color: #ffffffc1;
    text-align: center;
    padding: 20px;
    left: 18px;
    right: 18px;
    bottom: 18px;
    height: 190px;
    border-radius: 4px;
    color: #343A40;
}

.our-small p {
    font-size: 20px;
    margin-top: 10px;

}

.our-small:hover {
    background-color: rgb(251, 103, 103);
    color: white;

}

.our-small:hover p {
    color: white;
}

/* TESTIMONIAL SECTION CSS */
.testimonial {
    background-image: url(./images/test.jpg);
    height: 50%;
    margin-top: 50px;
    background-size: cover;
    background-attachment: fixed;
}

/* TECHNOLOGY SECTION CSS */

.tech-big {
    background-color: rgba(255, 192, 203, 0.166);
}

.tech::-webkit-scrollbar {
    display: none;
}

.text {
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 30px;

}

.tech {
    display: flex;
    gap: 40px;
    width: 60px;
    height: 120px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    overflow: scroll;
}

.tech-image {
    filter: grayscale(100%);
    opacity: .5;

}

.tech-image:hover {
    filter: none;
    opacity: 1;
}

/* CONTACT SECTION CSS */

.contact {
    /* background-color: #f7f6f6; */
    height: 300px;
    margin-top: 50px;
    padding-top: 30px;
}

.contact-h2 {
    color: blue;
    /* margin-top: 30px; */
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

.card-3 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.contact-div {
    width: 260px;
    height: 160px;
    padding: 40px;
    position: relative;
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    color: rgb(67, 66, 66);
}

.contact-div i {
    position: absolute;
    left: 18px;
    top: 18px;
    color: red;
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px dotted rgb(241, 195, 195);
}

.contact-div p {
    text-align: center;
    margin-top: 10px;
}

/* footer section css */

.footer {
    display: flex;
    gap: 80px;
    margin-top: 100px;
    background-color: rgba(255, 192, 203, 0.166);
    padding: 50px;
}

.foot1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
}

.foot4 img {
    margin-top: 30px;
}

.fa-greater-than {
    font-size: 12px;
    font-weight: 100px;
    color: brown;
    margin-right: 10px;
}

/* COPYRIGHT SECTION CSS */
.copy {
    display: flex;
    margin-top: 50px;
}

.copy-icons {
    display: flex;
    gap: 30px;
    justify-content: right;
    font-size: 30px;
    margin-right: 70px;

}

.copy-icons-edit {

    border-radius: 50%;
    padding: 8px;
    background-color: red;
    color: white;

}

.arrow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 30px;
    justify-content: right;
    font-size: 30px;

}

.fa-angle-up {
    color: white;
    padding: 8px;
    background-color: red;
}